/* lets do it. */

/* Dark blue Michigan Backgrond to Nav */
.topnav {
  background-color: #00274C;
  overflow: hidden;
}

/* Style the text  */
.topnav a {
  font-family: sans-serif;
  font-size: 17px;
  float: left;
  color: #FFCB05;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change link color on hover */
.topnav a:hover {
  background-color: #FFCB05;
  color: black;
}